<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="One_ShopCon" id="myInner">
    <ul>
        <li  th:each="cartInfo:${cartList}">
            <div> </div>

            <div>
                <ol>
                    <li><input type="checkbox"   class="check"  th:value="${cartInfo.productSkuId}"  onchange="checkSku(this)" th:checked="(${cartInfo.isChecked}==1)?'true':'false'" /></li>
                    <li>
                        <dt><img  th:src="${cartInfo.productPic}"  src="img\shop1.jpg" alt=""></dt>
                        <dd  th:onclick="toItem('+${cartInfo.productSkuId}+')">
                            <p>
                                <span th:text="${cartInfo.productName}" >TCL 55A950C 55英寸32核</span>
                            </p>
                        </dd>
                    </li>
                    <li>
                        <p class="dj" th:text="'￥'+${cartInfo.price}" >4599.00</p>
                    </li>
                    <li>
                        <p>
                            <span>-</span>
                            <span th:text="${cartInfo.quantity}" class="num">5</span>
                            <span>+</span>
                        </p>
                    </li>
                    <li style="font-weight:bold"><p class="zj" th:text="'￥'+${cartInfo.totalPrice}"  >￥22995.00</p></li>
                    <li>
                        <p>删除</p>
                    </li>
                </ol>
            </div>
        </li>
    </ul>
</div>
</body>
</html>